.photos-container {
    width: 100%;
    padding: 20px;
}

.section-title h2.title-characters {
    display: flex;
    justify-content: center;
    font-family: 'Star Wars', sans-serif;
    font-size: larger;
}

.section-title p.title-description {
    display: flex;
    justify-content: center;
    font-size: large;
}

.jedi-photos-container {
    padding: 20px 20px 0 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: var(--blue-background);
}

.characters-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 368px);
    justify-content: center;
    gap: 29px;
}

.sith-photos-container {
    padding: 20px 20px 0 20px;
    border-radius: 15px;
    background-color: var(--red-background);
}